#div_message {
    width: 100%;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    height: 0;

    transition: background-color 1s, height 3s;
    -webkit-transition: background-color 1s, height 3s;
}

#div_message > div {
    float: left
}

#div_message > button {
    float: right;
}

.div_fifty {
    width: 50%;
}

.div_left {
    float: left;
}

.div_right {
    float: right;
}

form select {
    min-width: 150px;
}
